*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:sans-serif;

}
.hero{
	height: 100vh;
	width: 100;
	background-color:#ffc973;
	background-size: cover;
	background-position: center;
}
nav{
	display: flex;
	align-items: center;
	justify-content:space-between;
	padding-top: 0.1px;
	padding-left: 10%;
	padding-right: 10%;
 }

.logo{
	size: 5px;
     
  }
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight:bold;
	font-size: 20px;
}

nav ul li a:hover{
     color: #ffc084;
     transition: .3s;
}

button{
     border: none;
     background-color:#fab578 ;
     padding: 12px 30px;
     border-radius: 30px;
     font-weight: bold;
     font-size: 15px;
     transition: .4s;
     color: white;

}

button:hover{
	transform: scale(1.1);
	cursor: pointer;

}

body{
background-image: url(D:\bg.jpg);

}