*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family:sans-serif;

}

body{
background-size: cover;

}


nav{
	display: flex;
	align-items: center;
	justify-content:space-between;
	padding-top: 0.1px;
	padding-left: 10%;
	padding-right: 10%;
 }

.logo{
	
     
  }
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;

}

nav ul li a{
	color: white;
	text-decoration: none;
	font-weight:bold;
	font-size: 20px;
}

nav ul li a:hover{
     color: #ffc084;
     transition: .3s;
}

button{
     border: none;
     background-color:#fab578 ;
     padding: 12px 30px;
     border-radius: 30px;
     font-weight: bold;
     font-size: 15px;
     transition: .4s;
     color: white;

}

button:hover{
	transform: scale(1.1);
	cursor: pointer;

}

.row{
display: flex;
height: 88%;
align-items: center;
}

.col{
flex-basis:47%;
padding: 10px 110px;
}


h1{
color: #fff;
font-size: 100px;
}

p{
color: #fff;
font-size: 12px;
line-height: 20;
padding-top: 5;
}

h4{
text-align: center;
padding:195px 14px;
color: white;
text-shadow: 0px 0px 2px black;
}

.card{
width: 200px;
height:230px;
display: inline-block;
border-radius: 10px;
padding: 15px 25px;
box-sizing: border-box;
cursor: pointer;
margin: 10px 15px;
background-position: center;
background-size: cover;
padding-left: 0%;
padding-right:0%;
transition: transform 0.5s;
}

.card1{
background-image: url(yamaha.jpg);
}

.card2{
background-image: url(gibson.webp);
}

.card3{
background-image: url(guild.webp);
}

.card4{
background-image: url(fender.webp);
}

.card:hover{
transform: translateY(-10px);

}